# 공통
.DS_Store
*.log

# Node (React - frontend)
frontend/node_modules
frontend/build
frontend/.env.local
frontend/yarn-error.log

# Java (Spring Boot - backend)
backend/build/
backend/.idea/
backend/*.iml
backend/out/
backend/.gradle
backend/.project
backend/.settings
backend/.classpath

# Python (FastAPI - ai)
ai/__pycache__/
ai/venv/
ai/.venv/
ai/.env
ai/*.pyc
ai/.pytest_cache
ai/*.db
ai/chroma_db_persistence/